<div class="bg-img"><h1 class="page-title">Конвертор валют</h1></div>

<div class="calculator calculator__wrapper">
  <div>
    <input
      id="in"
      type="text"
      placeholder="0.00"
      [(ngModel)]="firstInput"
      #firstInputCurrency
      (keyup)="
        onInput(
          firstInputCurrency.value,
          firstSelectCurrency.value,
          secondSelectCurrency.value,
          true
        )
      "
    />
    <select
      #firstSelectCurrency
      (change)="
        onInput(
          firstInputCurrency.value,
          firstSelectCurrency.value,
          secondSelectCurrency.value,
          true
        )
      "
    >
      <option value="USD" selected>USD</option>
      <option value="UAH">UAH</option>
      <option value="EUR">EUR</option>
    </select>
  </div>
  <div>
    <input
      type="text"
      placeholder="0.00"
      [(ngModel)]="secondInput"
      #secondInputCurrency
      (keyup)="
        onInput(
          secondInputCurrency.value,
          firstSelectCurrency.value,
          secondSelectCurrency.value,
          false
        )
      "
    />
    <select
      #secondSelectCurrency
      (change)="
        onInput(
          firstInputCurrency.value,
          firstSelectCurrency.value,
          secondSelectCurrency.value,
          true
        )
      "
    >
      <option value="UAH">UAH</option>
      <option value="USD">USD</option>
      <option value="EUR">EUR</option>
    </select>
  </div>
</div>
